# Python Bytecode & Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
*.pyc

# Virtual Environments
venv/
.venv/
env/

# Environment Variables & Secrets
.env
*.env

# IDE & Editor files
.vscode/
.idea/
logs/*.log
.DS_Store

